.white_line {
    display: flex;
    width: auto;
    justify-content: center;
}
.black_line {
    background-color: black;
}
.body_orange {
    background-color: rgb(248,113,81);
    height: 88vh;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    margin-left: -250px;
    height: 100%;
    z-index: 999;
    background: rgba(60,60,60,1);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.components {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.element {
    border: 4px double black;
    text-decoration: none;
    height: 80px;
}
.subElement {
    color: blanchedalmond !important;    
}
.subElement:visited {
    color: blanchedalmond !important;
}
.subElement:hover {
    color: blanchedalmond !important;
    text-decoration: none !important;
}
ul li{
    list-style-type: none;
}

.selected {
    border: 1px double black;
}

.subtext {
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: small;

}

.arrow_right {
    /* margin-top: -60px; */
    height: 50px;
    float: right;
}